Package: linux-bootimage-4.14.186-vendor-pecm30
Source: linux-android-vendor-pecm30
Version: 0.0.0+git20250303124017.0322de2.droidian
Architecture: arm64
Maintainer: Droidian porters <info@droidian.org>
Installed-Size: 80957
Pre-Depends: flash-bootimage (>= 4)
Depends: linux-image-4.14.186-vendor-pecm30 (= 0.0.0+git20250303124017.0322de2.droidian)
Section: kernel
Priority: optional
Description: Linux kernel for Vendor Device 1 - Android Boot Image
 This package contains the Linux kernel for the Vendor Device 1 device.
 .
 Note: This package ships an Android Boot Image bundled with Halium's
 initramfs.
